<form class = "form-dark bg-dark" #addPrenotazione="ngForm" (ngSubmit) ="handleSubmit(addPrenotazione)">
    <div class="mb-3">
      <label for="id_spett" class="form-label">Id spettacolo: </label>
      <input 
            name="id" 
            class="form-control" 
            id="idSpett"
            required 
            [(ngModel)]="id"
            #idControl="ngModel"
            type="text" 
          >
          <div *ngIf="idControl.invalid && (idControl.dirty|| idControl.touched)"
                class="alert">
            <div class="required" *ngIf="idControl.errors?.['required']">
                ID Richiesto
            </div>
        </div>
    </div>
    <div class="mb-3">
      <label for="nome_cliente" class="form-label">Nome: </label>
      <input 
          required 
          [(ngModel)]="nome_cliente"
          #nomeControl="ngModel"
          type="text" 
          name="nome_cliente" 
          class="form-control" 
          id="nome_cliente"/>
          <div *ngIf="nomeControl.invalid && (nomeControl.dirty|| nomeControl.touched)"
                class="alert">
            <div class="required" *ngIf="nomeControl.errors?.['required']">
                Nome Richiesto
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">numero di telefono: </label>
        <input 
            required 
            [(ngModel)]="tel"
            #telControl="ngModel"
            type="text" 
            name="tel" 
            class="form-control" 
            id="tel"/>
            <div *ngIf="telControl.invalid && (telControl.dirty|| telControl.touched)"
                class="alertTel">
            <div class="required" *ngIf="telControl.errors?.['required']">
               Numero di telefono richiesto
            </div>
        </div>
      </div>

    <input [disabled]="addPrenotazione.invalid" type="submit" id="submit" class="btn btn-primary" value="Prenota"/>
      
      
  
    
  </form>


